* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 1rem;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moodboard-masonry {
  column-count: 4;
  column-gap: 12px;
}

.moodboard-masonry img {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: block;
  transition: transform 0.3s;
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.moodboard-masonry img:hover {
  transform: scale(1.02);
}

@media (max-width: 1200px) {
  .moodboard-masonry {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  .moodboard-masonry {
    column-count: 2;
  }

  #add-btn {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
  }

  #image-url {
    font-size: 0.85rem;
    padding: 0.75rem;
  }
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  padding-left: 1rem;
  margin: 2rem 0 3rem;
  border-radius: 50px;
}

#image-url {
  flex: 1;
  font-size: 1rem;
  min-width: 0;
  max-width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 1.2rem;
}

#add-btn {
  border: none;
  outline: none;
  padding: 1.2rem 2rem;
  background-color: #e44836;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.2s, background-color 0.2s;
}

#add-btn:hover {
  background-color: #ff5945;
}

#add-btn:active {
  transform: scale(0.98);
}